<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YourDetails</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .gradient-custom {
        background: #b0d9b1;
      }
    </style>
  </head>

  <body>
    <%- include('header') %>
    <section class="h-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-10 col-xl-8">
            <div class="card" style="border-radius: 10px">
              <div class="card-header px-3 py-4">
                <h5 class="mb-0">Your Orders</h5>
              </div>

              <div class="card-body p-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">S No.</th>
                      <th scope="col">First</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < orders.length; i++) { %>
                    <tr>
                      <th scope="row"><%=i+1%></th>
                      <td>
                        <% for (let j = 0; j < orders[i].products.length; j++) {
                        %><%=orders[i].products[j].name %><br />
                        <% } %>
                      </td>
                      <td>
                        <% for (let j = 0; j < orders[i].products.length; j++) {
                        %><%=orders[i].products[j].quantity %><br />
                        <% } %>
                      </td>
                      <td>&#8377;<%= orders[i].totalAmount %></td>
                      <td><%= orders[i].orderDate.toLocaleDateString() %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- partial('footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
