<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Navigation</title>
    <link rel="stylesheet" href="/css/user/home.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- partial('header') %>
    <div
      class="Rectangle"
      style="
        width: 100%;
        height: 394px;
        background: #47754b;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
      "
    ></div>

    <div class="Group2">
      <input
        class="SearchForMedicine SearchInput"
        type="text"
        placeholder="Search for medicine"
      />
      <span id="search-icon" class="material-symbols-outlined"> search </span>
    </div>
    <!-- <div class="Rectangle22"></div> -->
    <div class="Rectangle22">
      <div class="slides">
        <div class="slide">
          <img
            src="https://blog.mountainroseherbs.com/hubfs/Blog%20images/Kitchari%20Ingredients.jpg#keepProtocol"
            alt="Slide 1"
            style="height: auto; width: 100%"
          />
        </div>
        <div class="slide">
          <img
            src="https://www.ayurvedacollege.com/wp-content/uploads/2022/08/Ayurvedic-Medicine-1.jpg"
            alt="Slide 2"
            style="height: auto; width: 100%"
          />
        </div>
        <div class="slide">
          <img
            src="https://i.pinimg.com/originals/3b/c6/63/3bc66364a20f4f42336b8cae41019c06.jpg"
            alt="Slide 3"
            style="height: auto; width: 100%"
          />
        </div>
        <div class="slide">
          <img
            src="https://www.bellanpharma.com/images/16.1.jpg"
            alt="Slide 4"
            style="height: auto; width: 100%"
          />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="shop-by-categories">
        <div class="category-text">Shop by Categories</div>
        <a href="#" class="btn" style="text-decoration: none; width: 50px"
          >See All</a
        >
      </div>
      <section class="category">
        <button class="pre-btn"><img src="/arrow.png" alt="" /></button>
        <button class="nxt-btn"><img src="/arrow.png" alt="" /></button>

        <div class="category-container">
          <% for(C of category) { %>
          <div
            class="category-card"
            onclick="location.href='/user/singlecategory/?id=<%= C._id %>'"
            style="cursor: pointer"
          >
            <img class="category-image" src="<%=C.img%>" alt="Category" />
            <div class="card-content">
              <div class="card-title"><%= C.name %></div>
            </div>
          </div>
          <% }; %>
        </div>
      </section>
    </div>

    <div class="container">
      <div class="section">
        <div class="section-header">
          <div class="section-title">Recommended For You</div>
          <button
            class="btn"
            style="width: 100px"
            onclick="location.href='/user/allProduct'"
            style="cursor: pointer"
          >
            See All
          </button>
        </div>

        <div class="product-grid">
          <% for(p of products) {%>
          <div
            class="product-card"
            onclick="location.href='/user/singleProduct?pId=<%=p._id.toString()%>'"
            style="cursor: pointer"
          >
            <img class="product-image" src="<%=p.img%>" alt="Product 1" />
            <h3 class="product-title"><%=p.title%></h3>
            <p class="short-description">
              <%= p.description.substring(0, 100) %> <strong>...</strong>
            </p>

            <div class="flex">
              <h3 class="product-title">&#8377;<%=p.dp%></h3>
              <h3 class="product-title mrp">&#8377;<%=p.mrp%></h3>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
    <%- partial('footer') %>
    <script src="/js/user/home.js"></script>
  </body>
</html>

<!-- footer -->
